.ckreset html,
.ckreset body,
.ckreset div,
.ckreset span,
.ckreset applet,
.ckreset object,
.ckreset iframe,
.ckreset h1,
.ckreset h2,
.ckreset h3,
.ckreset h4,
.ckreset h5,
.ckreset h6,
.ckreset p,
.ckreset blockquote,
.ckreset pre,
.ckreset a,
.ckreset abbr,
.ckreset acronym,
.ckreset address,
.ckreset big,
.ckreset cite,
.ckreset code,
.ckreset del,
.ckreset dfn,
.ckreset em,
.ckreset img,
.ckreset ins,
.ckreset kbd,
.ckreset q,
.ckreset s,
.ckreset samp,
.ckreset small,
.ckreset strike,
.ckreset strong,
.ckreset sub,
.ckreset sup,
.ckreset tt,
.ckreset var,
.ckreset b,
.ckreset u,
.ckreset i,
.ckreset center,
.ckreset dl,
.ckreset dt,
.ckreset dd,
.ckreset ol,
.ckreset ul,
.ckreset li,
.ckreset fieldset,
.ckreset form,
.ckreset label,
.ckreset legend,
.ckreset table,
.ckreset caption,
.ckreset tbody,
.ckreset tfoot,
.ckreset thead,
.ckreset tr,
.ckreset th,
.ckreset td,
.ckreset article,
.ckreset aside,
.ckreset canvas,
.ckreset details,
.ckreset embed,
.ckreset figure,
.ckreset figcaption,
.ckreset footer,
.ckreset header,
.ckreset hgroup,
.ckreset menu,
.ckreset nav,
.ckreset output,
.ckreset ruby,
.ckreset section,
.ckreset summary,
.ckreset time,
.ckreset mark,
.ckreset audio,
.ckreset video {
  margin: 0;
  padding: 0;
  line-height: normal;
  vertical-align: baseline;
}
.ckreset h1,
.ckreset h2,
.ckreset h3,
.ckreset h4,
.ckreset h5,
.ckreset h6 {
  font-weight: initial;
}
.ckreset ul,
.ckreset ol {
  list-style: initial;
  list-style-position: inside;
}
.ckreset ol {
  list-style-type: decimal;
}
.ckreset ul {
  list-style-type: disc;
}
.ckreset table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid gray;
  text-align: left;
}
.ckreset table td {
  padding: 10px;
}
.ckreset p {
  padding: 5px;
}
