/* tags, classes, IDs */
.active,
.current {
  color: #ca4e28;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.more {
  font-size: 13px;
  color: #015da4;
}
.more:hover {
  color: #ca4e28;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  color: #000;
  background: #fff;
}
header.gl {
  min-height: 190px;
  background: url('../img/bgheader.jpg') no-repeat center center;
}
header.gl .inner {
  padding-top: 40px;
}
.hd-leftblock,
.hd-logo,
.hd-rightblock {
  text-align: center;
}
.hd-leftblock,
.hd-rightblock {
  position: absolute;
  width: 250px;
  top: 40px;
  margin-top: 15px;
}
.hd-leftblock .addr-header,
.hd-rightblock .addr-header {
  display: block;
  margin-bottom: 10px;
}
.hd-leftblock {
  left: 10px;
}
.hd-rightblock {
  right: 10px;
}
.hd-centerblock {
  margin-top: 15px;
}
.hd-logo {
  width: 413px;
  height: 89px;
  display: block;
  margin: 0 auto;
  background: url('../img/logo.png') no-repeat center center;
}
.menu-top {
  background: #000;
}
.menu-top li {
  display: inline-block;
  width: 135px;
  vertical-align: top;
}
.menu-top li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 15px 0;
  font-size: 16px;
}
.menu-top li a:hover {
  background: #ca4e28;
}
.menu-top li a.current,
.menu-top li a.active {
  background: #ca4e28;
}
.menu-top li.nested {
  position: relative;
}
.menu-top li.nested ul {
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  position: absolute;
  padding: 5px 0;
  background: rgba(202, 78, 40, 0.7);
}
.menu-top li.nested ul li {
  display: block;
  margin-bottom: 5px;
}
.menu-top li.nested ul li a {
  font-size: 13px;
  display: initial;
  color: #fff;
}
.menu-top li.nested ul li a:hover {
  color: #000;
  background: none;
}
.menu-top li.nested:hover > ul {
  display: block;
}
.slider-top {
  width: 100%;
  height: 430px;
  overflow: hidden;
  position: relative;
}
.slider-top .slide {
  left: 50% !important;
  margin-left: -960px;
}
.slider-top .sli-links {
  position: absolute;
  left: 45%;
  bottom: 10px;
}
.slider-top .sli-links .control-slide {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 50%;
  text-indent: -9999px;
}
.slider-top .sli-links .control-slide.active {
  background: #ca4e28;
}
.slider-top .slide-inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-top .capt-wrapper {
  width: 360px;
  height: 115px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 9%;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.6);
}
.slider-top figcaption {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
.slider-top .textblock p {
  margin: 0;
  font-size: 14px;
  height: 40px;
  line-height: 16px;
}
.menu-center {
  padding: 35px 0 0 0;
  background: #f6f6f6;
}
.menu-center .inner {
  overflow: hidden;
  height: 170px;
}
.menu-center li {
  position: absolute;
}
.menu-center li a {
  display: block;
  width: 219px;
  height: 122px;
  opacity: 0.6;
}
.menu-center li a:hover {
  opacity: 1;
}
.menu-center .sto {
  left: 0;
}
.menu-center .arenda {
  left: 245px;
}
.menu-center .moika {
  left: 494px;
}
.menu-center .shinomontaj {
  right: 5px;
}
.menu-center li:last-child {
  margin-right: -4px;
}
.menu-center .sto a {
  background: url('../img/icon-sto.png') no-repeat center center;
}
.menu-center .arenda a {
  background: url('../img/icon-arenda.png') no-repeat center center;
}
.menu-center .moika a {
  background: url('../img/icon-moika.png') no-repeat center center;
}
.menu-center .shinomontaj a {
  background: url('../img/icon-shinomontaj.png') no-repeat center center;
}
.menu-center .link a,
.menu-center .revert a {
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.menu-center .revert {
  top: 123px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.1;
}
.breadcrumbs {
  margin: 25px 15px;
  text-align: left;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
}
.breadcrumbs li a {
  font-size: 13px;
  color: #787878;
}
.breadcrumbs li a:hover {
  color: #000;
}
.breadcrumbs li:after {
  content: '/';
  margin-left: 5px;
  font-size: 13px;
  color: #787878;
}
.breadcrumbs li:last-child:after {
  content: '';
}
.advantages {
  padding: 60px 0;
  background: #fff;
}
.advantages .textblock {
  padding: 0 15px;
}
.advantages .adv-icons {
  margin-top: 60px;
}
.advantages .adv-icons figure {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 180px;
  margin: 0 auto;
}
.advantages .adv-icons .fill-wrapper {
  height: 95px;
}
.contacts .cont-block {
  width: 235px;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
  margin-right: -4px;
  text-align: left;
}
.contacts .cont-block h5 {
  text-align: left;
}
.contacts .sto h5 {
  color: #ed2a25;
}
.contacts .arenda h5 {
  color: #ff640f;
}
.contacts .moika h5 {
  color: #03a6eb;
}
.contacts .shinomontaj h5 {
  color: #414241;
}
.contacts .map {
  margin: 45px 0;
}
.contacts .feedback-wrapper {
  padding: 0 40px;
}
.contacts .feedback-wrapper .feedback {
  float: left;
  width: 525px;
  text-align: left;
}
.contacts .feedback-wrapper .feedback .form-title {
  display: block;
  font-size: 14px;
  color: #595959;
  padding-left: 5px;
  margin-bottom: 5px;
}
.contacts .feedback-wrapper .feedback .name,
.contacts .feedback-wrapper .feedback .phone,
.contacts .feedback-wrapper .feedback .email,
.contacts .feedback-wrapper .feedback .message {
  margin-bottom: 10px;
}
.contacts .feedback-wrapper .feedback .name,
.contacts .feedback-wrapper .feedback .phone,
.contacts .feedback-wrapper .feedback .email {
  width: 305px;
  padding: 8px 5px;
  background: #ededed;
  border: none;
  font-size: 14px;
  color: #6e7a88;
}
.contacts .feedback-wrapper .feedback .message {
  width: 510px;
  padding: 8px 5px;
  background: #ededed;
  border: none;
  font-size: 14px;
  color: #6e7a88;
  resize: none;
}
.contacts .feedback-wrapper .feedback input[type='submit'] {
  display: block;
  width: 120px;
  padding: 10px 0;
  margin: 0 auto;
  border: none;
  background: #99999f;
  color: #fff;
}
.contacts .feedback-wrapper .feedback input[type='submit']:hover {
  background: #ca4e28;
}
.contacts .feedback-wrapper .feedback-addr {
  float: right;
  width: 300px;
  margin-top: 40px;
  text-align: left;
}
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}
.container .menu-left {
  float: left;
  width: 260px;
  padding: 0 10px 60px 5px;
  text-align: left;
}
.container .menu-left h1,
.container .menu-left h2,
.container .menu-left h3,
.container .menu-left h4,
.container .menu-left h5,
.container .menu-left h6 {
  text-align: left;
}
.container .menu-left nav {
  margin-left: 5px;
}
.container .menu-left nav li {
  margin-bottom: 3px;
}
.container .menu-left nav li a {
  font-size: 16px;
  color: #000;
}
.container .menu-left nav li a:hover {
  color: #ca4e28;
}
.container .col-right {
  float: right;
  width: 670px;
  padding: 0 5px 60px 10px;
}
.container .col-center {
  padding: 0 10px 60px 10px;
}
footer.gl {
  padding: 55px 0 20px 0;
  background: #f0f0f0;
}
footer.gl .ft-leftblock {
  float: left;
  margin-left: 40px;
}
footer.gl .ft-navblock {
  float: left;
  margin-left: 45px;
}
footer.gl .ft-navblock ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
}
footer.gl .ft-navblock ul li {
  margin-bottom: 3px;
}
footer.gl .ft-navblock ul li a {
  font-size: 14px;
  color: #000;
}
footer.gl .ft-navblock ul li a:hover {
  color: #ca4e28;
}
footer.gl .ft-rightblock {
  float: right;
  margin-right: 40px;
}
footer.gl .ft-copyrights {
  margin-top: 25px;
  font-size: 11px;
}
footer.gl .ft-logo {
  display: block;
  width: 244px;
  height: 53px;
  background: url('../img/logo.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
footer.gl .ft-contacts {
  margin-top: 15px;
  line-height: 24px;
}
footer.gl .ft-social .soc {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
footer.gl .ft-social .soc:hover {
  opacity: 0.8;
}
footer.gl .ft-social .soc:last-child {
  margin-right: 0;
}
footer.gl .ft-social .vk {
  background: url('../img/vk.png') no-repeat center center;
}
footer.gl .ft-social .fb {
  background: url('../img/fb.png') no-repeat center center;
}
footer.gl .ft-social .od {
  background: url('../img/od.png') no-repeat center center;
}
footer.gl .ft-social .tw {
  background: url('../img/tw.png') no-repeat center center;
}
footer.gl .hodlogo {
  display: block;
  width: 96px;
  height: 64px;
  margin-top: 35px;
  background: url('../img/hodlogo.png') no-repeat center center;
  float: right;
}
@media screen and (max-width: 1590px) {
  .slider-top .capt-wrapper {
    right: 18%;
  }
}
@media screen and (max-width: 1245px) {
  .slider-top .capt-wrapper {
    right: 27%;
  }
}
/* global tags */
a {
  text-decoration: none;
}
figure {
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
  font-size: 16px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  text-align: center;
}
h1,
h2 {
  font-size: 34px;
  margin-bottom: 15px;
}
h3 {
  font-size: 18px;
  padding-bottom: 10px;
}
h4 {
  font-size: 26px;
  padding-bottom: 10px;
}
h5 {
  font-size: 20px;
  padding-bottom: 10px;
}
