.ckreset {

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		line-height: normal;
		vertical-align: baseline;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: initial;
	}

	ul, ol { 
		list-style: initial;
		list-style-position: inside;
	}
	ol { list-style-type: decimal; }
	ul { list-style-type: disc; }

	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border: 1px solid gray;
		text-align: left;

		td {
			padding: 10px;
		}
	}

	p {
		padding: 5px;
	}
}