/* tags, classes, IDs */

.active, .current {
	color: #ca4e28;
}
.clearfix {
	clear: both;
}
.clearfix:after {
	content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.more {
	font-size: 13px;
	color: #015da4;

	&:hover {
		color: #ca4e28;
	}
}
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	color: #000;
	background: #fff;
}
header.gl {
	min-height: 190px;
	background: url('../img/bgheader.jpg') no-repeat center center;

	.inner {
		padding-top: 40px;
	}
}
.hd-leftblock, .hd-logo, .hd-rightblock {
	text-align: center;
}
.hd-leftblock, .hd-rightblock {
	position: absolute;
	width: 250px;
	top: 40px;
	margin-top: 15px;

	.addr-header {
		display: block;
		margin-bottom: 10px;
	}
}
.hd-leftblock {
	left: 10px;
}
.hd-rightblock {
	right: 10px;
}
.hd-centerblock {
	margin-top: 15px;
}
.hd-logo {
	width: 413px;
	height: 89px;
	display: block;
	margin: 0 auto;
	background: url('../img/logo.png') no-repeat center center;
}
.menu-top {
	//padding: 12px 0;
	background: #000;

	li {
		display: inline-block;
		width: 135px;
		vertical-align: top;

		a {
			display: block;
			width: 100%;
			height: 100%;
			color: #fff;
			padding: 15px 0; 
			font-size: 16px;

			&:hover {
				background: #ca4e28;
			}
			&.current, &.active {
				background: #ca4e28;
			}
		}
	}
	li.nested {
		position: relative;

		ul {
			display: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			z-index: 100;
			position: absolute;
			padding: 5px 0;
			background: rgba(202, 78, 40, 0.7);

			li {
				display: block;
				margin-bottom: 5px;

				a {
					font-size: 13px;
					display: initial;
					color: #fff;

					&:hover {
						color: #000;
						background: none;
					}
				}
			}
		}
	}
	li.nested:hover > ul {
		display: block;
	}
}
.slider-top	{
	width: 100%;
	height: 430px;
	overflow: hidden;
	position: relative;

	.slide {
		left: 50% !important;
		margin-left: -960px;
	}
	.sli-links {
		position: absolute;
		left: 45%;
		bottom: 10px;

		.control-slide {
			width: 15px;
			height: 15px;
			display: inline-block;
			margin-right: 10px;
			background: #f6f6f6;
			border: 1px solid #f6f6f6;
			border-radius: 50%;
			text-indent: -9999px;
		}
		.control-slide.active {
			background: #ca4e28;
		}
	}
	.slide-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.capt-wrapper {
		width: 360px;
		height: 115px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		right: 9%;
		bottom: 20px;
		background: rgba(255, 255, 255, 0.6);
	}
	figcaption {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		text-align: center;
	}
	.textblock p {
		margin: 0;
		font-size: 14px;
		height: 40px;
		line-height: 16px;
	}
}
.menu-center {
	padding: 35px 0 0 0;
	background: #f6f6f6;

	.inner {
		overflow: hidden;
		height: 170px;
	}

	li {
		position: absolute;

		a {
			display: block;
			width: 219px;
			height: 122px;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}
	}
	.sto {
		left: 0;
	}
	.arenda {
		left: 245px;
	}
	.moika {
		left: 494px;
	}
	.shinomontaj {
		right: 5px;
	}
	li:last-child {
		margin-right: -4px;
	}
	.sto a {
		background: url('../img/icon-sto.png') no-repeat center center;
	}
	.arenda a {
		background: url('../img/icon-arenda.png') no-repeat center center;
	}
	.moika a {
		background: url('../img/icon-moika.png') no-repeat center center;
	}
	.shinomontaj a {
		background: url('../img/icon-shinomontaj.png') no-repeat center center;
	}
	.link a, .revert a {
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
	.revert {
		top: 123px;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		opacity: 0.1;
	}
}
.breadcrumbs {
	margin: 25px 15px;
	text-align: left;

	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 0px;

		a {
			font-size: 13px;
			color: #787878;

			&:hover {
				color: #000;
			}
		}
		&:after {
			content: '/';
			margin-left: 5px;
			font-size: 13px;
			color: #787878;
		}
		&:last-child:after {
			content: '';
		}
	}
}
.advantages {
	padding: 60px 0;
	background: #fff;

	.textblock {
		padding: 0 15px;
	}
	.adv-icons {
		margin-top: 60px;

		figure {
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
			width: 180px;
			margin: 0 auto;
		}
		.fill-wrapper {
			height: 95px;
		}
	}
}
.contacts {

	.cont-block {
		width: 235px;
		display: inline-block;
		vertical-align: top;
		margin-top: 25px;
		margin-right: -4px;
		text-align: left;

		h5 {
			text-align: left;
		}
	}
	.sto h5 {
		color: #ed2a25;
	}
	.arenda h5 {
		color: #ff640f;
	}
	.moika h5 {
		color: #03a6eb;
	}
	.shinomontaj h5 {
		color: #414241;
	}
	.map {
		margin: 45px 0;
	}
	.feedback-wrapper {
		padding: 0 40px;

		.feedback {
			float: left;
			width: 525px;
			text-align: left;

			.form-title {
				display: block;
				font-size: 14px;
				color: #595959;
				padding-left: 5px;
				margin-bottom: 5px;
			}
			.name, .phone, .email, .message {
				margin-bottom: 10px;
			}
			.name, .phone, .email {
				width: 305px;
				padding: 8px 5px;
				background: #ededed;
				border: none;
				font-size: 14px;
				color: #6e7a88;
			}
			.message {
				width: 510px;
				padding: 8px 5px;
				background: #ededed;
				border: none;
				font-size: 14px;
				color: #6e7a88;
				resize: none;
			}
			input[type='submit'] {
				display: block;
				width: 120px;
				padding: 10px 0;
				margin: 0 auto;
				border: none;
				background: #99999f;
				color: #fff;

				&:hover {
					background: #ca4e28;
				}
			}
		}
		.feedback-addr {
			float: right;
			width: 300px;
			margin-top: 40px;
			text-align: left;
		}	
	}
}
.container {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px;

	.menu-left {
		float: left;
		width: 260px;
		padding: 0 10px 60px 5px;
		text-align: left;

		h1, h2, h3, h4, h5, h6  {
			text-align: left;
		}
		nav {
			margin-left: 5px;

			li {
				margin-bottom: 3px;

				a {
					font-size: 16px;
					color: #000;

					&:hover {
						color: #ca4e28;
					}
				}
			}
		}

	}
	.col-right {
		float: right;
		width: 670px;
		padding: 0 5px 60px 10px;
	}
	.col-center {
		padding: 0 10px 60px 10px;
	}
}
footer.gl {
	padding: 55px 0 20px 0;
	background: #f0f0f0;

	.ft-leftblock {
		float: left;
		margin-left: 40px;
	}
	.ft-navblock {
		float: left;
		margin-left: 45px;

		ul {
			display: inline-block;
			vertical-align: top;
			margin-right: 20px;
			text-align: left;

			li {
				margin-bottom: 3px;

				a {
					font-size: 14px;
					color: #000;

					&:hover {
						color: #ca4e28;
					}
				}
			}
		}
	}
	.ft-rightblock {
		float: right;
		margin-right: 40px;

	}
	.ft-copyrights {
		margin-top: 25px;
		font-size: 11px;
	}
	.ft-logo {
		display: block;
		width: 244px;
		height: 53px;
		background: url('../img/logo.png') no-repeat center center;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
	}
	.ft-contacts {
		margin-top: 15px;
		line-height: 24px;
	}
	.ft-social {

		.soc {
			display: inline-block;
			margin-right: 5px;
			width: 30px;
			height: 30px;

			&:hover {
				opacity: 0.8;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		.vk {
			background: url('../img/vk.png') no-repeat center center;
		}
		.fb {
			background: url('../img/fb.png') no-repeat center center;
		}
		.od {
			background: url('../img/od.png') no-repeat center center;
		}
		.tw {
			background: url('../img/tw.png') no-repeat center center;
		}
	}
	.hodlogo {
		display: block;
		width: 96px;
		height: 64px;
		margin-top: 35px;
		background: url('../img/hodlogo.png') no-repeat center center;
		float: right;
	}
}

@media screen and (max-width: 1590px) {

	.slider-top .capt-wrapper {
		right: 18%;
	}
}
@media screen and (max-width: 1245px) {

	.slider-top .capt-wrapper {
		right: 27%;
	}
}
/* global tags */

a {
	text-decoration: none;
}
figure {
	margin: 0;
	padding: 0;
}
address {
	font-style: normal;
	font-size: 16px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	text-align: center;
}
h1, h2 {
	font-size: 34px;
	margin-bottom: 15px;
}
h3 {
	font-size: 18px;
	padding-bottom: 10px;
}
h4 {
	font-size: 26px;
	padding-bottom: 10px;
}
h5 {
	font-size: 20px;
	padding-bottom: 10px;
}